<div class="container-fluid col-md-6 col-md-offset-3 text-center">
  <h1>Game Name: {{gameName}}</h1>
  <h3>Results</h3>
  <table id="results" class="col-md-6 col-md-offset-3">
    <tr>
      <td class="table_heading">Inning</td>
      <td class="table_heading" ng-repeat="num in inningNumber">{{num}}</td>
      <td class="table_heading">Final</td>
    </tr>
    <tr ng-repeat="(team, data) in gameData">
      <td class="table_heading"><a href="#/team/{{team}}">{{data.name}}</a></td>
      <td ng-repeat="inning in data.innings">
        <a href="#/inning/{{inning.inning_id}}">{{inning.score}}</a>
      </td>
      <td>{{data.score}}</td>
    </tr>
  </table>
</div>
