{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
      <title>Baseball Simulator</title>
      <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet"/>
      <link href="{% static "assets/css/style.css"%}" rel="stylesheet"/>
  </head>
  <body ng-app="baseballApp">
    <nav class="navbar navbar-default" role="navigation" bs-navbar>
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Baseball Sim</a>
      </div>
      <ul class="nav navbar-nav">
        <li data-match-route="/game"><a href="#/game">Game</a></li>
        <li data-match-route="/team"><a href="#/team">Team</a></li>
        <li data-match-route="/player"><a href="#/player">Player</a></li>
        <li>
          {%  if user.is_authenticated %}
              {% for team in user_team %}
                  {{ team.name }}
              {% endfor %}
              Logged in as: {{ user.username }}

          {%  endif %}
        </li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>

    <div ng-view=""></div>
    <script src="{% static "assets/js/angular.min.js" %}"></script>
    <script src="{% static "assets/js/angular-route.min.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
    <script src="{% static "app/app.js" %}"></script>
    <script src="{% static "app/controller/home-controller.js" %}"></script>
    <script src="{% static "app/controller/game-controller.js" %}"></script>
    <script src="{% static "app/controller/ind-game-controller.js" %}"></script>
    <script src="{% static "app/controller/player-controller.js" %}"></script>
    <script src="{% static "app/controller/ind-player-controller.js" %}"></script>
    <script src="{% static "app/controller/team-controller.js" %}"></script>
    <script src="{% static "app/controller/ind-team-controller.js" %}"></script>
    <script src="{% static "app/controller/inning-controller.js" %}"></script>
    <script src="{% static "app/controller/404-controller.js" %}"></script>
    <script src="{% static "app/routes.js" %}"></script>
  </body>
</html>

